@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(77, 77, 77);
    color: #fff;
    font-family: 'Bebas Neue';
    width: 100%;
    height: 100px;
}

.nav-bar ul a{
    text-decoration: none;
    margin-left: 12px;
    margin-bottom: -30px;
}

.col-6 ul a {
    margin-left: 15px;
    font-size: large;
    padding: 10px;
    color: rgb(255, 0, 0);
}

.col-6 ul {
    margin-left: 600px;
    margin-top: -35px;
}

.main-title {
    margin-top: -5px;
    margin-left: 30px;
    font-weight: lighter;
    font-size: 30px;
}

.small-text{
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px !important;
    position: relative;
    font-size: 5rem;
    block-size: 100%;
    inline-size: 100%;
}

.small-text::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
.small-text:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.small-text body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-serif;
  }
  
@media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
}

.text{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin: 40px;
    color: rgb(41, 41, 41);
}

.car-details img {
  margin: 40px;
}

.car-details li {
  text-decoration: none !important;
  list-style: none;
  margin: 40px;
}